*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main form{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#cn-button{
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
#cn-button:hover{
    scale: 1.05;
}
