*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

#top-heading{
    font-size: 30px;
}

.buttons{
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    width: 100px;
}

#work{
    background-color: #B9DECB;
    color: black;
}

#short-break{
    background-color: #E0EBF9;
    color: black;
}

#short-break{
    background-color: #FACCA8;
    color: black;
}

#start{
    background-color: green;
}

#pause{
    background-color: red;
}

#reset{
    background-color: orange;
}

#timer{
    font-size: 50px;
}

button{
    transition: all 0.2s ease-in;
}
button:hover{
    scale: 1.05;
}
