*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#input-file{
    cursor: pointer;
}

#data-table{
    margin: 20px 0;
}
#data-table th{
    background-color: #123456;
    color: yellow;
}
#data-table td{
    background-color: blue;
    color: white;
}
#data-table th,td{
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
